<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
            body {
                padding-top: 30px;
            }

            .error {
                color: #ff1616;
                font-size: 12px;
                margin-bottom: 10px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Login</h1>
            <div class="card card-body bg-light">
                <form id="form">
                    <div class="form-group row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" placeholder="Username" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password" />
                        </div>
                    </div>
                    <div class="row error" id="error_msg" style="display: none;">
                        <div class="col-md-2"> </div>
                        <div class="col-md-8">
                            아이디 또는 비밀번호를 다시 확인하세요.
                            등록되지 않은 아이디이거나, 아이디 또는 비밀번호를 잘못 입력하셨습니다.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary form-control">Submit</button>
                        </div>
                        <div class="col-md-4" style="margin-top: 5px;">
                            Don't have an account? <a href='/register'>Register now</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script>
            $(document).ready(() => {
                $('#form').on('submit', (e) => {
                    e.preventDefault();

                    jQuery.ajax({
                        type: 'POST',
                        url: '/user/check',
                        dataType: 'json',
                        data: { username: $('#username').val(), password: $('#password').val(), type: 'login' },
                        success: (res) => {
                            if (res.matches) {
                                window.location.href = "/dashboard";
                            } else {
                                $('#error_msg').removeAttr('style');
                            }
                        }
                    });
                })
            });
        </script>
    </body>
</html>